nav {
   background-color: #ffd3b5;
   text-transform: uppercase;
   padding: 20px;

 }

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid;
  postion: relative;
}


.jumbotron {
  margin: 10px;
  padding: 145px 40px;
  background-color: #fc9d9a;
  color: #ffffff;
  font-family: 'Fanwood Text', serif;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}


.title {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 1px 40px;
  border: 10px;
  background-color: #fc9d9a;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fc9d9a;
  color: #ffffff;
  font-family: 'Fanwood Text', serif;
}


.container1 {
      display:flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: #fc9d9a;
      color: #ffffff;
      font-family: 'Fanwood Text', serif;
}

img {
  max-width: 100%
}

.image {
  flex-basis: 50%
  padding: 10px;

}

.text {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Fanwood Text', serif;
}

.portfolio {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 0px;
      padding: 1px 40px;
      border: 10px;
      background-color: #fc9d9a;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      background-color: #fc9d9a;
      color: #ffffff;
      font-family: 'Fanwood Text', serif;
}

.container2 {
    background-color: #fc9d9a;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    display:flex;
}

.container2 .image1 {
    padding: 10px;
    border:  10px;
    display: flex;
    justify-content: space-around;

}
